<!DOCTYPE html>
<html>

<head>
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/reading/css/main.css">
    <script src="{{ site.baseurl }}/js/main.js"></script>
    <script src="{{ site.baseurl }}/js/pinyin_dict_polyphone.js"></script>
    <script src="{{ site.baseurl }}/js/pinyin_dict_withtone.js"></script>
    <script src="{{ site.baseurl }}/js/pinyinUtil.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="container">
        <header>
            <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            <div></div>
            <aside>
                <p>Dylan &copy; {{ site.time | date: '%Y' }} {{ site.author }}</p>
            </aside>
        </header>
        <main>
            {{ content }}
        </main>
    </div>
</body>

</html>