---
layout: default
---

<article>
    <header>
        <h1>{{ page.title }}</h1>
        <p>{% if page.previous.url %}<a href="{{ site.baseurl }}/{{ page.previous.url }}" style="color:red">上一篇</a>{% endif %}{% if page.next.url %}<a href="{{ site.baseurl }}/{{ page.next.url }}" style="color:red">下一篇</a>{% endif %}</p>
        <p><span>{{ page.author }}</span><time class="date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y年%m月%d日" }}</time></p>
        <p>{{ page.source }}</p>
        <p><audio id="player" controls></audio></p>
    </header>

    {{ content }}

    <script>
        document.querySelector('#player').src = document.querySelector('#audio').src;
        标注拼音(document.querySelectorAll('article>p'));

        let currentRubies = null;

        function timeupdate(e) {
            const progress = event.target.currentTime / event.target.duration;
            const rubies = Array.from(document.querySelectorAll('ruby'));

            function findIntegers(num) {
                // Math.floor() 函数返回小于或等于一个给定数字的最大整数。
                var leftInt = Math.floor(num);
                // Math.ceil() 函数执行向上舍入，即它总是将一个数向上舍入为最接近的整数。
                var rightInt = Math.ceil(num);

                return [leftInt, rightInt];
            }

            function setEffects(indexes) {
                const elements = rubies.slice(indexes[0], indexes[1] + 1);

                if (currentRubies) {
                    for (const element of currentRubies) {
                        // Clear the previous effects
                        element.style.color = '';
                        element.style.backgroundColor = '';
                        element.querySelector('rt').style.backgroundColor = '';
                    }
                }

                for (const element of elements) {
                    element.style.color = '#1c1c1d';
                    element.style.backgroundColor = '#d0d3d8';
                    element.querySelector('rt').style.backgroundColor = '#d0d3d8';

                    // 设置元素的下划线样式
                    // element.style.textDecoration = 'underline';
                    // element.style.textDecorationColor = 'green';
                    // element.style.textDecorationThickness = '2px';
                }
            }

            setEffects(findIntegers(progress * rubies.length))
        }
        document.getElementById('player').addEventListener('timeupdate', timeupdate);
    </script>
    {% if page.comments %}
    <div class="comments">
        <div id="disqus_thread"></div>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://reading-3.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    {% endif %}
</article>